<header>
    <h1>
        HEADER
    </h1>
</header>
<nav>
    <ul>
        {#<li><a href="http://localhost/phpoo/web/app.php">Accueil</a></li>#}
        <li><a href="http://localhost/phpoo/web/app.php?controller=product&method=index">List Produits</a></li>
    </ul>
</nav>