{% extends "baseLayout.html.twig" %}
{% block main %}
    <form action="#" method="post">
        <input type="text" name="name">
        <input type="text" name="address">
        <input type="email" name="email">
        <input type="submit" name="submit">
    </form>
{% endblock %}

