{% extends "baseLayout.html.twig" %}
{% block main %}
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for sup in suppliers %}
            {# @var sup \PhpOO\Models\Supplier #}
            <tr>
                <td>{{ sup.supplierName }}</td>
                <td>{{ sup.supplierAddress }}</td>
                <td>{{ sup.supplierEmail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

