<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}

    </title>
    <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
</head>
<body>
    {% include 'partialsViews/header.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block main %}
<p>test</p>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'partialsViews/footer.html.twig' %}
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>