{% extends "baseLayout.html.twig" %}
{% block main %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>DESCRIPTION</th>
            <th>IMAGE</th>
        </tr>
        </thead>
        <tbody>
        {% for elem in listP %}
            {% if loop.first %}
                <tr>
            {% else %}
                <tr style="color: red">
            {% endif %}
                {# @var elem \PhpOO\Models\Product #}
                <td>{{ elem.productID }}</td>
                <td>
                    <a href=
                       "http://localhost/phpoo/web/app.php?controller=product&method=details&id={{ elem.productID }}">
                    {{ elem.productName }}
                    </a>
                </td>
                <td>{{ elem.productDescription }}</td>
                <td>{{ elem.productImage }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}

{% block title %}
    index
{% endblock %}





