{% extends "baseLayout.html.twig" %}
{% block main %}
    <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        {#{% for error in errors %}#}
        {#<p class="text-danger">{{ error }}</p>#}
        {#{% endfor %}#}
        <div class="panel-body">
        <form action="#" method="post">
            <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="nom"
                   required
                   placeholder="Nom"
                   value="{{ prod.productName }}"
            >
                <p class="text-danger">{{ errors["productName"] }}</p>
            </div>
            <div class="form-group">

            <input class="form-control"
                   type="text"
                   name="desc"
                   placeholder="Description"
                   value="{{ prod.productDescription }}">
            </div>
            <p class="text-danger">{{ errors["productDescription"] }}</p>

            <div class="form-group">

            <input class="form-control"
                   type="text"
                   name="image"
                   placeholder="Image"
                   value="{{ prod.productImage }}"
            >
            </div>
            <p class="text-danger">{{ errors["productImage"] }}</p>

            <div class="form-group">

            <input class="btn btn-default" type="submit" name="submit">
                <div class="form-group">

        </form>
        </div>
    </div>
    </div>
{% endblock %}
