{% extends "baseLayout.html.twig" %}
{% block title %}
    Details du produit {{ prod.productName }}
{% endblock %}
{% block main %}
    {# @var prod \PhpOO\Models\Product #}
    <p>ID: {{ prod.productID }}</p>
    <p>NOM: {{ prod.productName }}</p>
    <p>DESC: {{ prod.productDescription }}</p>
    <p>IMAGE: {{ prod.productImage }}</p>
    {#<p>#}
        {#<image src="{{ prod.productImage }}"></image>#}
    {#</p>#}
    {% for ps in prod.productSuppliers %}
        <p>{{ ps.supplier.supplierName }} : {{ ps.price }}</p>
    {% endfor %}
{% endblock %}


