{% extends "baseLayout.html.twig" %}
{% block main %}
    <form action="#" method="post">
        <select name="productID" id="" style="color: midnightblue">
            {% for p in products %}
                <option value="{{ p.productID }}">{{ p.productName }}</option>
            {% endfor %}
        </select>
        <select name="supplierID" id="" style="color: midnightblue">
            {% for s in suppliers %}
                <option value="{{ s.supplierID }}">{{ s.supplierEmail }}</option>
            {% endfor %}
        </select>
        <input type="text" name="price"/>
        <input type="submit" name="submit">
    </form>
{% endblock %}

